<body id="terms">
  <div class="container">

    <div class="row">
      <div class="col-md-12" style="padding-top: 30px">
        <h4 class="text-center" style="padding-bottom: 20px; text-decoration: underline">Terms of Use of the LCS Board</h4>
        <p>WELCOME TO THE LCS PARENTS BOARD. We hope you find it useful. By accessing our servers, websites, or content therefrom (together, "BOARD"), you agree to these Terms of Use ("TOU"), last updated ________.</p>

        <p>NO AFFILIATION WITH LARCHMONT CHARTER SCHOOL ("LCS"). The BOARD is a purely parent-run forum for the parents of LCS. The BOARD was not started by, is not operated or supported by, and is in no way affiliated with the management, faculty or staff of LCS, or any member thereof. None of the views express in the BOARD represent the views of LCS, and they should not be attributed to LCS.</p>

        <p>LICENSE. If you are 18 or older, we grant you a limited, revocable, nonexclusive, nonassignable, nonsublicensable license to access the BOARD in compliance with the TOU; unlicensed access is unauthorized. You agree not to license, distribute, make derivative works, display, sell, or "frame" content from the BOARD, excluding content you create and sharing with friends/family. You grant us a perpetual, irrevocable, unlimited, worldwide, fully paid/sublicensable license to use, copy, perform, display, distribute, and make derivative works from content you post.</p>

        <p>USE. You agree not to use or provide software (except for general purpose web browsers and email clients, or software expressly licensed by us) or services that interact or interoperate with the BOARD, e.g. for downloading, uploading, posting, flagging, emailing, search, or mobile use. Robots, spiders, scripts, scrapers, crawlers, etc. are prohibited, as are misleading, unsolicited, unlawful, and/or spam postings/email. You agree not to collect users' personal and/or contact information ("PI").</p>

        <p>This is a partial list of the content prohibited on the BOARD, such that your right to use the BOARD may be immediately terminated in you make a post about, involving or regarding:
          <li>offensive, obscene, defamatory, threatening, or malicious postings or email
        anyone’s personal, identifying, confidential or proprietary information;</li>
          <li>criticism or derogatory statements about LSC, or its management, Board of Directors, faculty or staff;</li>
          <li>weapons; firearms/guns (including BB/pellet and stun guns) and components (including ammunition, clips, cartridges, reloading materials);</li>
          <li>fireworks or explosives;</li>
          <li>recalled items;</li>
          <li>hazardous materials;</li>
          <li>body parts/fluids;</li>
          <li>unsanitized bedding/clothing prescription drugs, medical devices;</li>
          <li>controlled substances and related items;</li>
          <li>alcohol or tobacco;</li>
          <li>unpackaged or adulterated food or cosmetics;</li>
          <li>pornography;</li>
          <li>offers or solicitation of illegal prostitution;</li>
          <li>pet sales;</li>
          <li>endangered, imperiled and/or protected species and any parts thereof;</li>
          <li>false, misleading, deceptive, or fraudulent content;</li>
          <li>bait and switch;</li>
          <li>keyword spam;</li>
          <li>stolen property, property with serial number removed/altered, burglary tools, etc.</li>
          <li>tickets or gift cards that restrict transfer</li>
          <li>lottery or raffle tickets, sweepstakes entries, slot machines, gambling items
        spam;</li>
          <li>miscategorized, overposted, cross-posted, or nonlocal content postings or email the primary purpose of which is to drive traffic to a website postings or email offering, promoting, or linking to unsolicited products or services affiliate marketing; network, or multi-level marketing; pyramid schemes</li>
          <li>any good, service, or content that violates the law or legal rights of others</li></p>

        <p>MODERATION. You agree we may moderate the BOARD access and use in our sole discretion, e.g. by blocking (e.g. IP addresses), filtering, deletion, delay, omission, verification, and/or access/account/license termination. You agree (1) not to bypass said moderation, (2) we are not liable for moderating, not moderating, or representations as to moderating, and (3) nothing we say or do waives our right to moderate, or not. All site rules are incorporated herein.</p>

        <p>DISCLAIMER. MANY JURISDICTIONS HAVE LAWS PROTECTING CONSUMERS AND OTHER CONTRACT PARTIES, LIMITING THEIR ABILITY TO WAIVE CERTAIN RIGHTS AND RESPONSIBILITIES. WE RESPECT SUCH LAWS; NOTHING HEREIN SHALL WAIVE RIGHTS OR RESPONSIBILITIES THAT CANNOT BE WAIVED.</p>
        <p>To the extent permitted by law, (1) we make no promise as to the BOARD, its completeness, accuracy, availability, timeliness, propriety, security or reliability; (2) your access and use are at your own risk, and the BOARD is provided "AS IS" and "AS AVAILABLE"; (3) we are not liable for any harm resulting from (a) user content; (b) user conduct, e.g. illegal conduct; (c) your the BOARD use; or (d) our representations; (4) WE AND OUR OFFICERS, DIRECTORS, EMPLOYEES ("the BOARD ENTITIES"), DISCLAIM ALL WARRANTIES & CONDITIONS, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE, OR NON-INFRINGEMENT; (5) the BOARD ENTITIES ARE NOT LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS (E.G. OF PROFIT, REVENUE, DATA, OR GOODWILL); (6) IN NO EVENT SHALL OUR TOTAL LIABILITY EXCEED $100 OR WHAT YOU PAID US IN THE PAST YEAR.</p>

        <p>CLAIMS. You agree (1) any claim, cause of action or dispute ("Claim") arising out of or related to the TOU or your the BOARD use is governed by California ("CA") law regardless of your location or any conflict or choice of law principle; (2) Claims must be resolved exclusively by state or federal court in San Francisco, CA (except we may seek injunctive remedy anywhere); (3) to submit to personal jurisdiction of said courts; (4) any Claim must be filed by 1 year after it arose or be forever barred; (5) not to bring or take part in a class action against the BOARD Entities; (6) (except government agencies) to indemnify the BOARD Entities for any damage, loss, and expense (e.g. legal fees) arising from claims related to your the BOARD use; (7) you are liable for TOU breaches by affiliates (e.g. marketers) paid by you, directly or indirectly (e.g. through an affiliate network); and (8) to pay us for breaching or inducing others to breach the "USE" section, not as a penalty, but as a reasonable estimate of our damages (actual damages are often hard to calculate): $0.10 per server request, $1 per post, email, flag, or account created, $1 per item of PI collected, and $1000 per software distribution, capped at $25,000 per day.</p>

        <p>MISC. Users complying with prior written licenses may access the BOARD thereby until authorization is terminated. Otherwise, this is the exclusive and entire agreement between us. If a TOU term is unenforceable, other terms are unaffected. If TOU translations conflict with the English version, English controls. See Privacy Policy for how we collect, use and share data. If you feel content infringes your rights see cl.com/about/dmca.</p>
      </div>
    </div>

  </div>
</body>
