<body id="welcome">
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>LCS Parents Board</h1>
        <p>A community portal for the parents of<br />Larchmont Charter School.</p>
        <p><%= link_to '<i class="fa fa-user-plus"></i>&nbsp;Join'.html_safe, new_user_registration_path, class: 'btn btn-success btn-lg' %>&nbsp;<%= link_to '<i class="fa fa-sign-in"></i>&nbsp;Log in'.html_safe, new_user_session_path, class: 'btn btn-primary btn-lg' %></p>
        <p id="welcome-small">Copyright © 2016 _____. All Rights Reserved.</p>
    </div>
  </div>
</body>
