<body id="welcome-index">

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>LCS Parents Board</h1>
          <p><%= link_to '<i class="fa fa-user-plus"></i>&nbsp;Join'.html_safe, new_user_registration_path, class: 'btn btn-success' %>&nbsp;<%= link_to '<i class="fa fa-sign-in"></i>&nbsp;Log in'.html_safe, new_user_session_path, class: 'btn btn-primary' %></p>
        </div>
      </div>
    </div>
  </div>

</body>
