/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

/* GENERAL */

a, a:active, a:focus, a:hover {
  color: #4078c0;
}

body {
  display: table;
  width: 100%;
}

html, body {
  color: #000;
  height: 100%;
}

footer {
  display: table-row;
  height: 1px;
}

footer p {
  border-top: 1px solid #e5e5e5;
  font-size: 13px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-row-expanded { height: 100%; }

#title {
  font-size: 20px;
  padding-top: 10px;
}

#title-comments {
  font-size: 16px;
  padding-top: 10px;
}

/*
------------------------------*/

/* ALERTS */
.alert {
  border-radius: 0;
  text-align: center;
}

.close {
  display: none;
}

/* AUTHENTICATION */
#authentication .container {
  margin: 50px auto;
  position: absolute;
  right: 0;
  left: 0;
  width: 320px;
  height: 280px;
}

#authentication footer {
  display: none;
}

/* FORMS */
.simple_form label {
  font-weight: 400;
}

/* JUMBOTRON */
.jumbotron {
  background: #fff;
}

/* NAVIGATION */
.navbar {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active {
  color: #000 !important;
  font-weight: 700;
}

.navbar-nav {
  padding-top: 2px;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
  font-size: 13px;
  font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #4078c0;
}

/* hamburger */
.navbar-default .navbar-toggle .icon-bar {
 background-color: #333;
 border: none;
}

.navbar-default .navbar-toggle {
 border: none;
}

.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
 background: inherit;
}

/* POSTS-SHOW */
blockquote {
  font-size: 14px;
  margin-bottom: 5px;
}

#posts-body {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  padding: 10px 0;
}

#posts-show .row {
  padding-bottom: 20px;
}

/* TERMS */
#terms footer {
  display: none;
}

/* WELCOME-INDEX */
#welcome p {
  font-weight: 400;
}

#welcome footer {
  display: none;
}

@media screen and (min-width: 768px) {
  .jumbotron h1, .jumbotron .h1 {
    font-size: 50px;
  }
}

#welcome-small {
  font-size: 14px;
}
