<footer>
  <div class="container">
    <p class="text-center">Copyright © 2016 PARBO&nbsp;/&nbsp;<%= link_to 'Terms of Use', terms_show_path %>&nbsp;/&nbsp;<%= link_to 'Contact', '#' %>&nbsp;/&nbsp;<%= link_to 'Help', '#' %></p>
  </div>
</footer>
